@import url(https://fonts.googleapis.com/css?family=Righteous);

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  }


  body {
      margin-top: 100px;
    text-align: center;
    background-color: hsla(230,40%,50%,1);
    }
  body:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    
    }

h1 {
  display: inline-block;
  color: white;
  font-family: 'Righteous', serif;
  font-size: 2em; 
  
  }
  p.small {
    font-variant: small-caps;
    color: white;
    padding: 18px ;
    font-size:40px ;
    text-align: center;
    font-weight: bold    
}